    <section id="contact">
      <p class="section__text__p1">{{ 'CONTACT.PRESENTATION_TEXT' | translate }}</p>
      <h1 class="title">{{ 'CONTACT.TITLE' | translate }}</h1>
      <div class="contact-info-upper-container">
        <div class="contact-info-container">
          <img
            src="./assets/Images/email.png"
            alt="Email icon"
            class="icon contact-icon email-icon"
          />
          <p><a>basile-gallot&#64;hotmail.com</a></p>
        </div>
        <div class="contact-info-container">
          <img
            src="./assets/Images/linkedin.png"
            alt="LinkedIn icon"
            class="icon contact-icon"
          />
          <p><a href="https://www.linkedin.com/in/basile-gallot-0600921b2/">LinkedIn</a></p>
        </div>
      </div>
    </section>