    <footer>
      <nav>
        <div class="nav-links-container">
          <ul class="nav-links">
            <li><a href="#about">{{ 'FOOTER.ABOUT_NAVLINK' | translate }}</a></li>
            <li><a href="#experience">{{ 'FOOTER.SKILLS_NAVLINK' | translate }}</a></li>
            <li><a href="#projects">{{ 'FOOTER.PROJECTS_NAVLINK' | translate }}</a></li>
            <li><a href="#contact">{{ 'FOOTER.CONTACT_NAVLINK' | translate }}</a></li>
          </ul>
        </div>
      </nav>
      <p>{{ 'FOOTER.COPYRIGHT' | translate }}  &#169;{{ 'FOOTER.DATE' | translate }} </p>
    </footer>
