    <section id="profile">
      <div class="section__pic-container">
        <img src="./assets/Images/PP_assis_cropped.png" alt="Basile profile picture" />
      </div>
      <div class="section__text">
        <p class="section__text__p1">{{ 'PROFILE.PRESENTATION_TEXT' | translate }}</p>
        <h1 class="title">{{ 'PROFILE.NAME' | translate }}</h1>
        <p class="section__text__p2">{{ 'PROFILE.JOB' | translate }}</p>
        <div class="btn-container">
          <button
            class="btn btn-color-2"
            onclick="window.open('./assets/Images/CV_Basile_Gallot.pdf')"
          >
            {{ 'PROFILE.DOWNLOAD_CV_BUTTON' | translate }}
          </button>
          <button class="btn btn-color-1" onclick="location.href='./#contact'">
            {{ 'PROFILE.CONTACT_INFO_BUTTON' | translate }}
          </button>
        </div>
        <div id="socials-container">
          <img
            src="./assets/Images/linkedin.png"
            alt="My LinkedIn profile"
            class="icon"
            onclick="location.href='https://www.linkedin.com/in/basile-gallot-0600921b2/'"
          />
          <img
            src="./assets/Images/github.png"
            alt="My Github profile"
            class="icon"
            onclick="location.href='https://github.com/Basile8'"
          />
        </div>
      </div>
    </section>