    <section id="experience">
      <p class="section__text__p1">{{ 'SKILLS.PRESENTATION_TEXT' | translate }}</p>
      <h1 class="title">{{ 'SKILLS.TITLE' | translate }}</h1>
      <div class="experience-details-container">
        <div class="about-containers">
          <div class="details-container">
            <h2 class="experience-sub-title">{{ 'SKILLS.LANGUAGE_BLOC_TITLE' | translate }}</h2>
            <div class="article-container">
              <article>
                <img
                  src="./assets/Images/Skills/c++.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>{{ 'SKILLS.LANGUAGE_BLOC_CPLUSPLUS_NAME' | translate }}</h3>
                  <p>{{ 'SKILLS.LANGUAGE_BLOC_CPLUSPLUS_EXP' | translate }}</p>
                </div>
              </article>
              <article>
                <img
                  src="./assets/Images/Skills/c-sharp.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>{{ 'SKILLS.LANGUAGE_BLOC_CSHARP_NAME' | translate }}</h3>
                  <p>{{ 'SKILLS.LANGUAGE_BLOC_CSHARP_EXP' | translate }}</p>
                </div>
              </article>
              <article>
                <img
                  src="./assets/Images/Skills/java.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>{{ 'SKILLS.LANGUAGE_BLOC_JAVA_NAME' | translate }}</h3>
                  <p>{{ 'SKILLS.LANGUAGE_BLOC_JAVA_EXP' | translate }}</p>
                </div>
              </article>
              <article>
                <img
                  src="./assets/Images/Skills/unity.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>{{ 'SKILLS.LANGUAGE_BLOC_UNITY_NAME' | translate }}</h3>
                  <p>{{ 'SKILLS.LANGUAGE_BLOC_UNITY_EXP' | translate }}</p>
                </div>
              </article>
              <article>
                <img
                  src="./assets/Images/Skills/MySQL.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>{{ 'SKILLS.LANGUAGE_BLOC_MYSQL_NAME' | translate }}</h3>
                  <p>{{ 'SKILLS.LANGUAGE_BLOC_MYSQL_EXP' | translate }}</p>
                </div>
              </article>
              <article>
                <img
                  src="./assets/Images/Skills/angularjs.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>{{ 'SKILLS.LANGUAGE_BLOC_ANGULAR_NAME' | translate }}</h3>
                  <p>{{ 'SKILLS.LANGUAGE_BLOC_ANGULAR_EXP' | translate }}</p>
                </div>
              </article>
            </div>
          </div>
          <div class="details-container">
            <h2 class="experience-sub-title">{{ 'SKILLS.EXTTOOLS_BLOC_TITLE' | translate }}</h2>
            <div class="article-container">
              <article>
                <img
                  src="./assets/Images/Skills/git.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>{{ 'SKILLS.EXTTOOLS_BLOC_GIT_NAME' | translate }}</h3>
                  <p>{{ 'SKILLS.EXTTOOLS_BLOC_GIT_EXP' | translate }}</p>
                </div>
              </article>
              <article>
                <img
                  src="./assets/Images/Skills/gitlab.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>{{ 'SKILLS.EXTTOOLS_BLOC_GITLAB_NAME' | translate }}</h3>
                  <p>{{ 'SKILLS.EXTTOOLS_BLOC_GITLAB_EXP' | translate }}</p>
                </div>
              </article>
              <article>
                <img
                  src="./assets/Images/Skills/VSCode.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>{{ 'SKILLS.EXTTOOLS_BLOC_VSTUDIO_NAME' | translate }}</h3>
                  <p>{{ 'SKILLS.EXTTOOLS_BLOC_VSTUDIO_EXP' | translate }}</p>
                </div>
              </article>
              <article>
                <img
                  src="./assets/Images/Skills/jira.png"
                  alt="Experience icon"
                  class="icon"
                />
                <div>
                  <h3>{{ 'SKILLS.EXTTOOLS_BLOC_JIRA_NAME' | translate }}</h3>
                  <p>{{ 'SKILLS.EXTTOOLS_BLOC_JIRA_EXP' | translate }}</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
      <img
        src="./assets/Images/arrow.png"
        alt="Arrow icon"
        class="icon arrow"
        onclick="location.href='./#projects'"
      />
    </section>